# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
build/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
reverseProxyDemo/.gradle/file-system.probe
reverseProxyDemo/.gradle/7.6.4/gc.properties
reverseProxyDemo/.gradle/7.6.4/checksums/checksums.lock
reverseProxyDemo/.gradle/7.6.4/checksums/md5-checksums.bin
reverseProxyDemo/.gradle/7.6.4/checksums/sha1-checksums.bin
reverseProxyDemo/.gradle/7.6.4/dependencies-accessors/dependencies-accessors.lock
reverseProxyDemo/.gradle/7.6.4/dependencies-accessors/gc.properties
reverseProxyDemo/.gradle/7.6.4/executionHistory/executionHistory.bin
reverseProxyDemo/.gradle/7.6.4/executionHistory/executionHistory.lock
reverseProxyDemo/.gradle/7.6.4/fileChanges/last-build.bin
reverseProxyDemo/.gradle/7.6.4/fileHashes/fileHashes.bin
reverseProxyDemo/.gradle/7.6.4/fileHashes/fileHashes.lock
reverseProxyDemo/.gradle/7.6.4/fileHashes/resourceHashesCache.bin
reverseProxyDemo/.gradle/8.14.2/gc.properties
reverseProxyDemo/.gradle/8.14.2/checksums/checksums.lock
reverseProxyDemo/.gradle/8.14.2/checksums/md5-checksums.bin
reverseProxyDemo/.gradle/8.14.2/checksums/sha1-checksums.bin
reverseProxyDemo/.gradle/8.14.2/executionHistory/executionHistory.bin
reverseProxyDemo/.gradle/8.14.2/executionHistory/executionHistory.lock
reverseProxyDemo/.gradle/8.14.2/fileChanges/last-build.bin
reverseProxyDemo/.gradle/8.14.2/fileHashes/fileHashes.bin
reverseProxyDemo/.gradle/8.14.2/fileHashes/fileHashes.lock
reverseProxyDemo/.gradle/8.14.2/fileHashes/resourceHashesCache.bin
reverseProxyDemo/.gradle/8.8/gc.properties
reverseProxyDemo/.gradle/8.8/checksums/checksums.lock
reverseProxyDemo/.gradle/8.8/checksums/md5-checksums.bin
reverseProxyDemo/.gradle/8.8/checksums/sha1-checksums.bin
reverseProxyDemo/.gradle/8.8/dependencies-accessors/gc.properties
reverseProxyDemo/.gradle/8.8/executionHistory/executionHistory.bin
reverseProxyDemo/.gradle/8.8/executionHistory/executionHistory.lock
reverseProxyDemo/.gradle/8.8/fileChanges/last-build.bin
reverseProxyDemo/.gradle/8.8/fileHashes/fileHashes.bin
reverseProxyDemo/.gradle/8.8/fileHashes/fileHashes.lock
reverseProxyDemo/.gradle/8.8/fileHashes/resourceHashesCache.bin
reverseProxyDemo/.gradle/8.9/gc.properties
reverseProxyDemo/.gradle/8.9/checksums/checksums.lock
reverseProxyDemo/.gradle/8.9/dependencies-accessors/gc.properties
reverseProxyDemo/.gradle/8.9/executionHistory/executionHistory.lock
reverseProxyDemo/.gradle/8.9/fileChanges/last-build.bin
reverseProxyDemo/.gradle/8.9/fileHashes/fileHashes.lock
reverseProxyDemo/.gradle/buildOutputCleanup/buildOutputCleanup.lock
reverseProxyDemo/.gradle/buildOutputCleanup/cache.properties
reverseProxyDemo/.gradle/buildOutputCleanup/outputFiles.bin
reverseProxyDemo/.gradle/vcs-1/gc.properties
.gitignore
.gitignore
*.json
